* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 500vh;
}
.container {
    max-width: 1200px;
    margin: auto;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.btn-primary,
.btn-secondary {
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
}

.btn-primary {
    color: white;
    background: rgb(12, 90, 219);
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: rgba(12, 90, 219, 0.8);
    transition: all 0.3s ease-in-out;
}

.btn-secondary {
    border: 0.5px solid white;
    background: transparent;
    color: white;
}

.arrow-down {
    margin-top: 6px;
}

.mb-sm {
    margin-bottom: 20px;
}

.heading-primary {
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}
.heading-main {
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 700;
}
.heading-white {
    color: white;
}

/* HEADER */
header {
    background-color: #0c5adb;
}

.top-header {
    padding: 20px 0px;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header--links,
.top-header--social-links {
    display: flex;
    column-gap: 20px;
}
.top-header--social-links {
    margin-top: 6px;
}
.top-header--link > span {
    font-weight: 900;
    display: inline-block;
    margin-right: 5px;
    margin-top: 6px;
}
.top-header--social-links a {
    text-decoration: none;
    color: white;
}

/* NAVBAR */
.top-navbar {
    height: 80px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
}

.top-navbar--sub-section {
    padding: 10px 50px;
    position: absolute;
    width: 100%;
    height: max-content;
    inset: 0;
    top: 100%;
    visibility: hidden;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.top-navbar--sub-section-grid {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.top-navbar--sub-section-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top-navbar--sub-section-link {
    display: inline-block;
    padding: 10px 5px;
    border-radius: 3px;
    text-decoration: none;
    color: #232323;
    font-size: 18px;
    width: 100%;
    height: 100%;
    background-color: white;
}
.top-navbar--sub-section-link:hover {
    background-color: #0c5adb;
    color: white;
    transition: all 0.3s ease-in-out;
}

.top-navbar--list-item:hover .top-navbar--sub-section {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.top-navbar--logo {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.top-navbar--list,
.top-navbar--list-item {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.top-navbar--list-item > a {
    height: 100%;
    text-decoration: none;
    color: #232323;
    font-size: 18px;
    display: flex;
    gap: 5px;
    align-items: center;
}

/* HERO SECTION */

.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    clip-path: ellipse(100% 80% at 51.51% 20.62%);
    position: relative;
}

.hero-section--bg-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* Background image */
.hero-section--bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-section--content {
    position: inherit;
    max-width: 800px;
    z-index: 10;
    margin-left: 100px;
}

.hero-section--cta-box {
    display: flex;
    gap: 20px;
}
